<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-4 col-sm-6 col-xs-8">
      <div class="card">
        <div class="card-header">
          <label class="card-title">Login</label>
        </div>
        <div class="card-body">
          <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm.value)">

            <div class="form-group">
              <label for="userEmail">
                Email
              </label>
              <input class="form-control" id="userEmail" type="email" formControlName="email"
                     placeholder="Eg. name@example.com"
              />
              <div *ngIf="email.invalid && email.touched"
                   class="alert alert-danger">
                <span>Email invalid</span>
              </div>
            </div>
            <div class="form-group">
              <label for="userName">
                Name
              </label>
              <input class="form-control" id="userName" type="text" formControlName="name"
                     placeholder="How should I call you?"/>
              <div *ngIf="name.invalid && name.touched"
                   class="alert alert-danger">
                <span>Name is required</span>
              </div>
            </div>

            <div class="form-group">
              <label for="userPassword">
                Password
              </label>
              <input class="form-control" id="userPassword" type="password" formControlName="password"
                     placeholder="Choose a good password"
              />
              <div *ngIf="password.invalid && password.touched"
                   class="alert alert-info">
                <span>Password should be at least 8 characters long</span>
              </div>
            </div>
            <div class="form-group">
              <label for="userPassword">
                Confirm Password
              </label>
              <input class="form-control" id="userPasswordConfirm" type="password" formControlName="c_password"
                     placeholder="Make sure you remember the password"
              />
              <div *ngIf="c_password.invalid && c_password.touched"
                   class="alert alert-info">
                <span>Passwords should match</span>
              </div>
            </div>
            <button class="btn btn-primary btn-lg" type="submit">
              Register
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
